<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @persona.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @persona.materno %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @persona.sexo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @paciente.domicilio %>
</p>

<p>
  <strong>Civil:</strong>
  <%= @paciente.civil %>
</p>

<p>
  <strong>Nss:</strong>
  <%= @paciente.nss %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @paciente.edad %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @paciente.peso %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @paciente.talla %>
</p>

<p>
  <strong>Imc:</strong>
  <%= @paciente.imc %>
</p>

<p>
  <strong>T sangre:</strong>
  <%= @paciente.t_sangre %>
</p>