<%= form_with(model: @persona, id: 'formulario_pacientes', url: url, local: true) do |persona| %>

  <div class="form-group">
    <%= persona.text_field :nombre, placeholder: "Introduzaca su Nombre"%>
  </div>

  <div class="form-group">
    <%= persona.text_field :paterno, placeholder: "Paterno"%>
  </div>

  <div class="form-group">
    <%= persona.text_field :materno, placeholder: "Materno"%>
  </div>

  <div class="form-group">
    <%= persona.label :sexo%><br>
    <%= persona.select :sexo, options_for_select([["Seleccione uno",nil], %w[Hombre H], %w[Mujer M], %w[Otro O]])%>
  </div>

  <div class="form-group">
    <%= persona.telephone_field(:telefono, placeholder: "telefono")%>
  </div>

  <div class="form-group">
    <%= persona.email_field(:correo, placeholder: "correo") %>
  </div>
  <%= persona.fields_for :paciente do |paciente_fields| %>

    <div class="form-group">
      <%= paciente_fields.text_field :domicilio ,placeholder: "domicilio"%>
    </div>

    <div class="form-group">
      <%= paciente_fields.label "Estado civil" %><br>
      <%= paciente_fields.select :civil,options_for_select([["Seleccione uno", nil], %w[Soltero Soltero], %w[Casado Casado], %w[Divorciado Divorciado]]) %>
    </div>

    <div class="form-group">
      <%= paciente_fields.label "Numero de Seguro Social" %><br>
      <%= paciente_fields.text_field :nss , placeholder: "NSS"%>
    </div>

    <div class="form-group">
      <%= paciente_fields.number_field :edad, placeholder: "Edad"%>
    </div>

    <div class="form-group">
      <%= paciente_fields.text_field :peso, placeholder: "Peso en Kg" %>
    </div>

    <div class="form-group">
      <%= paciente_fields.label "Estatura en cm"%><br>
      <%= paciente_fields.text_field :talla, placeholder: "Estatura en cm ex: 170" %>
    </div>

    <div class="form-group">
      <%= paciente_fields.label "Indice de masa corporal:"%><br>
      <%= paciente_fields.number_field :imc %>
    </div>

    <div class="form-group">
      <%= paciente_fields.label "Tipo de sangre"%><br>
      <%= paciente_fields.select :t_sangre, options_for_select([["Seleccione uno",nil], ["O negrativo","O negativo"],
                                                                ["O positivo","O positivo"],["A negativo","A negativo"], ["A positivo","A positivo"],
                                                                ["B negativo","B negativo"], ["B positivo","B positivo"], ["AB negativo","AB negativo"],
                                                                ["AB positivo","AB positivo"]])%>
    </div>
    <%= paciente_fields.hidden_field(:nutriologo_id, :value => session[:nutriologo_id]) %>
  <% end %>
  <br>
  <div class="actions">
    <%= persona.submit 'Crear', class: 'btn btn-primary'%>

  </div>
<% end %>
