<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-6">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos del paciente</h6>
      </div>
      <div class="card-body">
        <%= render 'datos_paciente' %>

        <%= link_to 'Editar o actualizar datos Personales', mostrar_paciente_path(@paciente.id), class: "btn btn-info" %> |
        <%= link_to 'Volver', pacientes_path, class: "btn btn-success"%>

      </div>
    </div>


  </div>
  <div class="col-lg-6">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos de Control</h6>
        <br>
        <p>Id Persona:  <%= params[:id] %> </p>
        <p>Id paciente: <%= @paciente.id %></p>
      </div>
      <div class="card-body">
        <%= link_to 'Problemas de Salud', signo_path, class: 'btn btn-primary w-100 '  %>
        <br>
        <br>
        <%= link_to 'Quimicas Sanguinea', index_quimica_path(@paciente.id), class: 'btn btn-primary w-100'  %>
        <br>
        <br>
        <%= link_to 'Biometrias Ematica', signo_path, class: 'btn btn-primary w-100'  %>
        <br>
        <br>
        <%= link_to 'Habitos de Consumo', signo_path, class: 'btn btn-primary w-100'  %>
        <br>
        <br>
        <%= link_to 'Actividad Fisica', signo_path, class: 'btn btn-primary w-100'  %>
        <br>
        <br>
        <%= link_to 'Antecedentes Clinicos', signo_path, class: 'btn btn-primary w-100 '  %>
      </div>
    </div>

  </div>
</div>
