<%= form_with(model: suplemento,id: 'formulario_suplementos', local: true) do |form| %>
  <% if suplemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suplemento.errors.count, "error") %> prohibited this suplemento from being saved:</h2>

      <ul>
      <% suplemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% #TODO Validar que el nombre no exista %>
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <div class="row">
      <div class="col-2">
       <%= form.radio_button :marca, 'MuscleTech', :checked => true%> MuscleTech
      </div>
      <div class="col-2">
        <%= form.radio_button :marca, 'ForzaGen'%> ForzaGen
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :formato %>
    <div class="row">
      <div class="col-2">
        <%= form.radio_button :formato, 'Polvo', :checked => true%> Polvo
      </div>
      <div class="col-2">
        <%= form.radio_button :formato, 'Capsulas'%>  Capsulas
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Peso del Producto en gramos' %>
    <%= form.number_field :peso_producto , placeholder: 'Ejemplo: 260'%>
  </div>

  <div class="field">
    <%= form.label :no_servicios %>
    <%= form.number_field :no_servicios %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio %>
  </div>

  <div class="field">
    <%= form.label 'Sabor' %>
    <div class="row">
      <div class="col-2">
        <%= form.radio_button :contenido, 'Chocolate', :checked => true%> Chocolate
      </div>
      <div class="col-2">
        <%= form.radio_button :contenido, 'Fresa'%> Fresa
      </div>
      <div class="col-2">
        <%= form.radio_button :contenido, 'Fresa'%> Platano
      </div>
      <div class="col-2">
        <%= form.radio_button :contenido, 'Manzana'%> Manzana
      </div>
      <div class="col-2">
        <%= form.radio_button :contenido, 'No aplica'%> No Aplica
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :informacion %>
    <%= form.text_area :informacion %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
