<%= form_with(model: suplemento, local: true) do |form| %>
  <% if suplemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suplemento.errors.count, "error") %> prohibited this suplemento from being saved:</h2>

      <ul>
      <% suplemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :formato %>
    <%= form.text_field :formato %>
  </div>

  <div class="field">
    <%= form.label :peso_producto %>
    <%= form.text_field :peso_producto %>
  </div>

  <div class="field">
    <%= form.label :no_servicios %>
    <%= form.number_field :no_servicios %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :contenido %>
    <%= form.text_area :contenido %>
  </div>

  <div class="field">
    <%= form.label :informacion %>
    <%= form.text_area :informacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
