<p id="notice"><%= notice %></p>

<p>
  <strong>Consulta:</strong>
  <%= @problema.consulta %>
</p>

<p>
  <strong>Diarrea:</strong>
  <%= @problema.diarrea %>
</p>

<p>
  <strong>Nauseas:</strong>
  <%= @problema.nauseas %>
</p>

<p>
  <strong>Obesidad:</strong>
  <%= @problema.obesidad %>
</p>

<p>
  <strong>Estrenimiento:</strong>
  <%= @problema.estrenimiento %>
</p>

<p>
  <strong>Gastritis:</strong>
  <%= @problema.gastritis %>
</p>

<p>
  <strong>Vomito:</strong>
  <%= @problema.vomito %>
</p>

<p>
  <strong>Insomnio:</strong>
  <%= @problema.insomnio %>
</p>

<p>
  <strong>Ansiedad:</strong>
  <%= @problema.ansiedad %>
</p>

<%= link_to 'Edit', edit_problema_path(@problema) %> |
<%= link_to 'Back', problemas_path %>
