<h1>Signos</h1>

<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Detalle de Signos</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-signos" data-sort="true" >
        <thead>
        <tr>
          <th >Consulta</th>
          <th >Cabello</th>
          <th >Piel</th>
          <th >Nails</th>
          <th >Ojos</th>
          <th >Peso corporal</th>
          <th >Presion sanguinea</th>
          <th >Frecuencia respiratoria</th>
          <th >Frecuencia cardiaca</th>
          <th data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @signos.each do |signos| %>
          <tr>
            <td><%= signos.consulta.id %></td>
            <td><%= signos.cabello%></td>
            <td><%= signos.piel%></td>
            <td><%= signos.nails%></td>
            <td><%= signos.ojos%></td>
            <td><%= signos.peso_corporal%></td>
            <td><%= signos.presion_sanguinea%></td>
            <td><%= signos.frecuencia_respiratoria%></td>
            <td><%= signos.frecuencia_cardiaca%></td>
            <td>
              <%=  link_to 'Mostrar', [@consulta], class: 'btn btn-primary' %>
              <%=  link_to 'Editar', edit_consulta_signo_path(@consulta, signos),  class: 'btn btn-success' %>
              <%=  link_to 'Eliminar', [@consulta, signos], method: :delete, data: { confirm: 'Estas Seguro?' },  class: 'btn btn-danger'%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Nuevo Signo', new_consulta_signo_path(@consulta), class: 'btn btn-primary'%>
</div>
<br>

