<p id="notice"><%= notice %></p>

<p>
  <strong>Consulta:</strong>
  <%= @signo.consulta.id %>
</p>

<p>
  <strong>Cabello:</strong>
  <%= @signo.cabello %>
</p>

<p>
  <strong>Piel:</strong>
  <%= @signo.piel %>
</p>

<p>
  <strong>Nails:</strong>
  <%= @signo.nails %>
</p>

<p>
  <strong>Ojos:</strong>
  <%= @signo.ojos %>
</p>

<p>
  <strong>Peso corporal:</strong>
  <%= @signo.peso_corporal %>
</p>

<p>
  <strong>Presion sanguinea:</strong>
  <%= @signo.presion_sanguinea %>
</p>

<p>
  <strong>Frecuencia respiratoria:</strong>
  <%= @signo.frecuencia_respiratoria %>
</p>

<p>
  <strong>Frecuencia cardiaca:</strong>
  <%= @signo.frecuencia_cardiaca %>
</p>

<%= link_to 'Editar', edit_consulta_signo_path(@consulta,@signo), class: 'btn btn-primary'%> |
<%= link_to 'VOlver', consulta_signos_path(@consulta), class: 'btn btn-success'%>
