<p id="notice"><%= notice %></p>

<p>
  <strong>Primer:</strong>
  <%= @prueba.primer %>
</p>

<p>
  <strong>Segundo:</strong>
  <%= @prueba.segundo %>
</p>

<p>
  <strong>Tercer:</strong>
  <%= @prueba.tercer %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
