<h1>Consultas</h1>
<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Detalle de Consultas</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-consultas" data-sort="true" >
        <thead>
        <tr>
          <th >Numero de la consulta</th>
          <th >Paciente</th>
          <th >Nutriologo</th>
          <th >Anotaciones</th>
          <th  data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
        </tr>
        </thead>
        <% @consultas.each do |consulta| %>
          <tbody>
          <tr>
            <td><%= consulta.id %></td>
            <td><% paciente = Paciente.find(consulta.paciente.id) %> <%= paciente.personas.last.full_name %></td>
            <td><% nutriologo = Nutriologo.find(consulta.nutriologo_id) %><%= nutriologo.personas.last.full_name  %></td>
            <td><%= consulta.anotaciones %></td>
            <td>
              <%= link_to 'Mostrar', consulta , class: 'btn btn-primary' %>
              <%#= link_to 'Editar', edit_consulta_path(consulta),  class: 'btn btn-success' %>
              <%#= link_to 'Eliminar', consulta, method: :delete, data: { confirm: 'Estas Seguro?' },  class: 'btn btn-danger' %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%= link_to 'Nuevo Consulta', nueva_consulta_path(params[:paciente_id]) , class: 'btn btn-primary'%>
  <% paciente = Paciente.find(params[:paciente_id])
     @persona = paciente.personas.last
  %>
  <%= link_to "Volver", mostrar_paciente_path(@persona.id) , class: 'btn btn-success'%>
</div>

