<p id="notice"><%= notice %></p>

<p>
  <strong>Campo1:</strong>
  <%= @test.campo1 %>
</p>

<p>
  <strong>Campo2:</strong>
  <%= @test.campo2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
